.jhf-button {
position: relative;
 border-radius: 50%;
 background-color: white;
 border: none;
 width: 7.5rem;
 height: 7.5rem;
 box-shadow: 2px 2px 4px #292929;

 svg, span {
   color: #836782;
 }

 &::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  background-color: #836782;
  box-shadow: 0px 0px 4px #292929;
  border: none;
  width: 9rem;
  height: 9rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

&.selected {
  // background: rgb(205,80,255);
  // background: linear-gradient(180deg, rgba(205,80,255,1) 0%, rgba(225,90,237,1) 35%, rgba(255,139,254,1) 100%);
  border-radius: 50%;

  svg, span {
    color: rgb(205,80,255);
  }

  &::before {
    background: rgb(239,75,233);
    background: linear-gradient(180deg, rgba(239,75,233,1) 0%, rgba(251,150,247,1) 100%);
  }
}
}